@import "../../assets/styles/variables";

.header {
  &__row {
    display: flex;
  }

  &__logo {
    cursor: pointer;
  }

  &__links {
    flex: 0 1 100%;

    ul {
      display: flex;
    }

    li {
      list-style: none;
      cursor: pointer;
      margin-left: 40px;
    }

    &-dropdown {
      div {
        display: none;
      }

      div ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        li {
          margin: 0;
          left: 0;
        }
      }

      img {
        margin-left: 7px;
        transform: rotate(0);
        transition: 1s;
      }
    }

    &-dropdown.active {
      color: #78258D;

      img {
        transform: rotate(180deg);
      }

      div {
        display: block;
        box-shadow: 0 0 54px -14px rgba(0,0,0,0.5);
        margin-top: 16px;
        margin-left: -44px;
        color: black;

        li {
          padding: 15px;
          border-bottom: 1px solid map-get($background-colors, purple-extralight);

          &:last-of-type {
            border-bottom: none;
          }
        }
      }




    }
  }
}